@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blue;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
    color: white;
}
main{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;

}
div{
    display: grid;
    width: 150px;
    height: 150px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
    padding: 10px;
}
